<div id='name'>
<strong>Name:</strong>
<%= @private_group.name %>
</div>
<%= image_tag @private_group.avatar.url %><br>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Edit group
</button>

<%= render 'modal' %>