<!DOCTYPE html>
<html>
<head>
  <title>Training</title>
  <link href="/assets/application.css" media="all" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "jquery", "jquery_ujs", "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
